---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

import { getCollection } from "astro:content";
import BlogCategorySelctor from "../../components/BlogCategorySelctor";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en" class="w-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-assistant w-full">
    <div class="flex flex-col w-full items-center gap-16">
      <a
        href="/"
        class="bg-red-400 hover:cursor-pointer text-[#1a1a1a] text-left rounded-full px-6 w-fit font-comfortaa"
      >
        home
      </a>
      <div class="flex flex-col items-center mb-16">
        <h1 class="text-5xl md:text-8xl font-virgil">LucidBlog</h1>
        <h1 class="font-virgil">a collection of ideas and learnings</h1>
      </div>
    </div>
    <main class="w-full flex flex-col">
      <BlogCategorySelctor posts={posts} client:visible />
      <br />
      <br />
      <br />
      <h1 class="text-3xl font-virgil">Who Am I?</h1>
      <br />

      <section class="font-virgil prose prose-invert">
        👋 hieeeeeeee!
        <br />
        my name is <a
          class="hover:cursor-pointer text-red-400"
          href="https://lucidlinks.vercel.app">suraj nukala</a
        >
        <img class="rounded-lg" src="/LucidMach.jpg" alt="" />
        i constantly teach myself "to build stuff that i think will blow my mind"
        and on the internet i call myself the
        <a
          class="hover:cursor-pointer text-red-400"
          href="https://lucidlinks.vercel.app"
          >lucidmach
        </a>
        <br />
        <br />
        this time i decided to blog out my learnings as i learn and build some really
        cool stuff along the way
        <br />
        <br />
        pretty sure you know the rest 😉
      </section>
    </main>
    <Footer />
  </body>
</html>
