---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

import { getCollection } from "astro:content";
import BlogCategorySelctor from "../../components/BlogCategorySelctor";
import Menu from "../../components/Menu";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en" class="w-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-assistant w-full">
    <div class="flex flex-col w-full items-center gap-16">
      <!-- <a
        href="/"
        class="bg-red-400 hover:cursor-pointer text-[#1a1a1a] text-left rounded-full px-6 w-fit font-comfortaa"
      >
        home
      </a> -->
      <Menu
        singleClickMode
        currentActive={1}
        currentColorIndex={1}
        client:visible
      />
      <div class="flex flex-col items-center mb-16">
        <h1 class="text-5xl md:text-8xl font-virgil">Ziro2Mach</h1>
        <h1 class="font-virgil">
          a collection of writings - ideas and learnings - blog posts
        </h1>
      </div>
    </div>
    <main class="w-full flex flex-col">
      <BlogCategorySelctor posts={posts} client:visible />
      <br />
      <br />
      <br />
      <h1 class="text-3xl font-virgil">Who Am I?</h1>
      <br />

      <section class="font-virgil prose prose-invert">
        👋 hieeeeeeee!
        <br />
        I'm <a
          class="hover:cursor-pointer text-red-400"
          href="https://linkedin.com/in/lucidmach">Suraj Nukala</a
        > also known as <a
          class="hover:cursor-pointer text-red-400"
          href="https://twitter.com/lucidmach"
          >lucidmach
        </a>.
        <img class="rounded-lg" src="/LucidMach.jpg" alt="" />
        I'm a builder & researcher obsessed with the intersection of data, visualisation,
        and human experience. I constantly teach myself "to build stuff that I think
        will blow my mind", whether it's engineering 3D visuals for EEG headsets,
        optimizing web performance with CLI tools, or diving deep into physiological
        data pipelines and machine learning.
        <br />
        <br />
        This blog is where I document my learnings as I build, break, and occasionally
        fix some really cool stuff. I'm a big believer in learning in public and sharing
        the raw process behind the projects.
        <br />
        <br />
        pretty sure you know the rest 😉
      </section>
    </main>
    <Footer />
  </body>
</html>
