---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" class="w-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-assistant w-full">
    <div class="flex flex-col w-full items-center gap-16">
      <Menu client:visible currentActive={3} currentColorIndex={2} />
      <div class="flex flex-col items-center mb-16">
        <h1 class="text-5xl md:text-8xl font-virgil">About Me</h1>
        <h1 class="font-virgil">This is My Tale</h1>
      </div>
    </div>
    <main class="w-full flex flex-col">
      <h1 class="text-3xl font-virgil">Who Am I?</h1>
      <br />

      <section class="font-virgil prose prose-invert">
        👋 hieeeeeeee!
        <br />
        my name is <a
          class="hover:cursor-pointer text-red-400"
          href="https://www.linkedin.com/in/lucidmach/">suraj nukala</a
        >
        <img class="rounded-lg" src="/LucidMach.jpg" alt="" />
        i constantly teach myself "to build stuff that i think will blow my mind"
        and on the internet i call myself the
        <a
          class="hover:cursor-pointer text-red-400"
          href="https://lucidlinks.vercel.app"
          >lucidmach
        </a>
        <br />
        <br />
        this time i decided to blog out my learnings as i learn and build some really
        cool stuff along the way
        <br />
        <br />
        pretty sure you know the rest 😉
      </section>
    </main>
    <Footer />
  </body>
</html>
