<section class="font-virgil prose prose-invert">
  👋 hieeeeeeee!
  <br />
  my name is <a
    class="hover:cursor-pointer text-red-400"
    href="https://lucidlinks.vercel.app">suraj nukala</a
  >
  <img class="rounded-lg" src="/LucidMach.jpg" alt="" />
  i constantly teach myself "to build stuff that i think will blow my mind" and on
  the internet i call myself the
  <a
    class="hover:cursor-pointer text-red-400"
    href="https://lucidlinks.vercel.app"
    >lucidmach
  </a>
  <br />
  <br />
  this time i decided to blog out my learnings as i learn and build some really cool
  stuff along the way
  <br />
  <br />
  pretty sure you know the rest 😉
</section>
