---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" class="w-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-assistant w-full">
    <div class="flex flex-col w-full items-center gap-16">
      <a
        href="/"
        class="bg-red-400 hover:cursor-pointer text-[#1a1a1a] text-left rounded-full px-6 w-fit font-comfortaa"
      >
        home
      </a>
      <div class="flex flex-col items-center mb-16">
        <h1 class="text-5xl md:text-8xl font-virgil">The Archive</h1>
        <h1 class="font-virgil">evolution of my personal page over time</h1>
      </div>
    </div>
    <main class="w-full flex flex-col items-center px-6">
      <section
        class="font-virgil prose prose-invert w-full max-w-2xl relative border-l border-white/20 py-4 mb-20 space-y-24"
      >
        <div class="relative pl-8">
          <div
            class="absolute -left-[5px] top-[1.2rem] w-2.5 h-2.5 rounded-full bg-red-400"
          >
          </div>
          <h1 class="mt-0">version 1</h1>
          <p>
            my first ever attempt at building a website that showcased most of
            everything i've tried building
          </p>
          <a
            class="break-words"
            href="https://lucidmach.vercel.app/"
            target="_blank">https://lucidmach.vercel.app</a
          >
          <br />
          <br />
          <img src="/v1.gif" alt="version 1" class="w-full rounded-xl" />
        </div>

        <div class="relative pl-8">
          <div
            class="absolute -left-[5px] top-[1.2rem] w-2.5 h-2.5 rounded-full bg-red-400"
          >
          </div>
          <h1 class="mt-0">version 2</h1>
          <p>
            I saw <a href="https://bruno-simon.com/">bruno simon's website</a> and
            thought to myself websites in the 2020s should be more immersive and 3D
          </p>
          <a
            class="break-words"
            href="https://lucidlinks.vercel.app/"
            target="_blank">https://lucidlinks.vercel.app</a
          >
          <br />
          <br />
          <img src="/v2.gif" alt="version 2" class="w-full rounded-xl" />
        </div>

        <div class="relative pl-8">
          <div
            class="absolute -left-[5px] top-[1.2rem] w-2.5 h-2.5 rounded-full bg-red-400"
          >
          </div>
          <h1 class="mt-0">version 3</h1>
          <p>
            originally intended to be my personal blog site - a place to dump my
            thoughts, learnings and experiments
          </p>
          <img src="/v3.png" alt="version 3" class="w-full rounded-xl mt-6" />
        </div>

        <div class="relative pl-8">
          <div
            class="absolute -left-[5px] top-[1.2rem] w-2.5 h-2.5 rounded-full bg-red-400"
          >
          </div>
          <h1 class="mt-0">version 4</h1>
          <p>
            well I had 3 different website that counted as personal websites -
            so I wanted to have the best elements of each websites in one new
            website - this is the website you're looking at 😜
          </p>
          <img src="/v4.png" alt="version 4" class="w-full rounded-xl mt-6" />
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
