---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" class="w-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-assistant w-full">
    <div class="flex flex-col w-full items-center gap-16">
      <a
        href="/"
        class="bg-red-400 hover:cursor-pointer text-[#1a1a1a] text-left rounded-full px-6 w-fit font-comfortaa"
      >
        home
      </a>
      <div class="flex flex-col items-center mb-16">
        <h1 class="text-5xl md:text-8xl font-virgil">The Archive</h1>
        <h1 class="font-virgil">evolution of my personal page over time</h1>
      </div>
    </div>
    <main class="w-full flex flex-col">
      <section class="font-virgil prose prose-invert">
        <h1>version 1</h1>
        <p>the website that got me hooked onto building stuff</p>
        <a class="w-full text-center" href="https://lucidmach.vercel.app/"
          >https://lucidmach.vercel.app</a
        >
        <br />
        <br />
        <iframe
          src="https://lucidmach.vercel.app/"
          width="800"
          height="600"
          title="Embedded Website"
        >
        </iframe>
        <br />
        <br />
        <h1>version 2</h1>
        <p>the website for which i learned to make websites</p>
        <a class="w-full text-center" href="https://lucidlinks.vercel.app/"
          >https://lucidlinks.vercel.app</a
        >
        <br />
        <br />
        <iframe
          src="https://lucidlinks.vercel.app/"
          width="800"
          height="600"
          title="Embedded Website"
        >
        </iframe>
        <br />
        <br />
        <h1>version 3</h1>
        <p>the website you're looking at 😜</p>
        <br />
        <br />
        <iframe
          src="https://lucidmach.com/"
          width="800"
          height="600"
          title="Embedded Website"
        >
        </iframe>
        <br />
        <br />
      </section>
    </main>
    <Footer />
  </body>
</html>
