---
import { Suspense } from "react";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import BaseHead from "../components/BaseHead.astro";
import R3F from "../components/R3F.tsx";
import Socials from "../components/Socials.astro";
import Menu from "../components/Menu";
---

<!doctype html>
<html lang="en" class="w-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-assistant w-full">
    <main class="flex flex-col">
      <Suspense>
        <div
          class="fixed top-4 z-10 left-0 w-full bg-transparent flex justify-center"
        >
          <Menu client:visible />
        </div>
        <R3F client:visible />
        <div class="fixed bottom-4 left-0 w-full bg-transparent">
          <Socials />
        </div>
      </Suspense>
    </main>
  </body>
</html>
