---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en" class="w-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full text-white font-comfortaa">
    <div class="w-full flex justify-end absolute top-0 left-0 z-10">
      <a href="/">
        <img class="w-16 h-16 rounded-full m-4" src="/brain.png" alt="" />
      </a>
    </div>
    <div
      class="w-full h-full absolute top-0 left-0 flex flex-col justify-center items-center"
    >
      <img class="w-48 h-48" src="/aida.png" alt="aida" />
      <br />
      <h1 class="tracking-[0.5rem] font-bold">The Philosophy of "Spaced In"</h1>
      <div class="flex flex-col gap-4 absolute bottom-48">
        <a
          href="/spaced-in/know-more"
          class="hover:bg-white hover:text-black border-2 rounded-full px-3 text-center"
          >Know More</a
        >
        <a
          href="/spaced-in/share"
          class="hover:bg-black text-black bg-white hover:text-white border-2 rounded-full px-3 text-center"
          >Share</a
        >
      </div>
    </div>
    <Footer />
  </body>
</html>
