---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<header class="flex flex-col items-center gap-2 font-virgil">
	<a class="cursor-pointer text-5xl md:text-8xl text-red-400" href="/">
		{SITE_TITLE}
	</a>
	<a class="cursor-pointer text-xs md:text-lg" href="/">
		{SITE_DESCRIPTION}
	</a>
</header>
