---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<header class="flex flex-col items-center gap-2 font-virgil">
	<h2 class="text-5xl md:text-7xl text-red-400">
		{SITE_TITLE}
	</h2>
	<h4 class="text-xs md:text-base">
		{SITE_DESCRIPTION}
	</h4>
	<nav
		class="flex justify-evenly gap-5 fixed bg-transparent bottom-5 underline text-red-400"
	>
		<a
			class="rounded-lg px-2 cursor-pointer"
			href="https://www.youtube.com/channel/UCeiqLNsKT95FGM8obq1GH4g"
			target="_blank"
		>
			YouTube
		</a>
		<a
			class="rounded-lg px-2 cursor-pointer"
			href="https://twitter.com/lucidmach"
			target="_blank"
		>
			Twitter</a
		>
		<a
			class="rounded-lg px-2 cursor-pointer"
			href="https://github.com/lucidmach"
			target="_blank"
		>
			GitHub</a
		>
	</nav>
	<br />
</header>
